#wrapper
{
	padding-top: 75px;
}

/* .top_bar .standard_wrapper
{
	min-height: 74px;
} */

#logo_wrapper
{
	text-align: left;
	border: 0;
	padding: 0;
	float: left;
	width: 100%;
	height: 100%;
}

#logo_wrapper .logo_container
{
	display: table;
	padding: 0;
	height: 100%;
}

.top_bar.scroll #logo_wrapper
{
	display: block;
}

#nav_wrapper
{
	border-top: 0 !important;
}

.logo_container
{
	display: block;
	/* float: left; */
	width: 100%;
	height: auto;

	border-bottom: 1px solid #8c7d30;
}

html[data-menu=leftalign] #menu_wrapper
{
	width: 100%;
	/* float: left; */
	height: 100%;
	/* padding: 0; */
	/* margin-left: 40px; */
}

html[data-menu=leftalign] #logo_right_wrapper #logo_right_button
{
	position: relative;
	display: table-cell;
    vertical-align: middle;
    right: 0;
    top: 0;
}

html[data-menu=leftalign] #logo_right_wrapper
{
	width: auto;
	float: right;
	height: 100%;
	padding: 0;
	display: table;
}

/* 
#Tablet (Portrait)
================================================== 
*/

@media only screen and (min-width: 768px) and (max-width: 960px) {
	html[data-menu=leftalign] #logo_wrapper { padding: 0; }
	html[data-menu=leftalign] .logo_container { margin-top: 0px; }
}

/*  
#Mobile (Portrait)
================================================== 
*/

@media only screen and (max-width: 767px) {
	html[data-menu=leftalign] .top_bar .standard_wrapper
	{
		height: auto;
		padding: 0;
	}
	
	html[data-menu=leftalign] #nav_wrapper, html[data-menu=leftalign] #menu_wrapper
	{
		display: block;
	}
	
	html[data-menu=leftalign] .top_bar
	{
		padding-bottom: 0;
	}
}

/*  
#Cahuilla Logo
================================================== 
*/

.c-logo__wrapper {
	display: flex;
	flex-wrap: wrap;
	padding: 1rem 0;
	align-items: center;
	justify-content: space-between;
}

@media only screen and (min-width: 767px) {
	.c-logo__wrapper {
		/* padding: 1rem 2rem; */
	}
}

.c-logo {
	display: block;
	width: 298px;
	height: 60px;
}

.c-logo.c-logo--footer {
	width: 180px;
}

.c-logo svg {
	width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
	.c-logo__links {
		display: none;
	}
}

@media only screen and (min-width: 767px) {
	.c-logo__links {
		display: none;
	}
}

.c-logo__links ul {
	list-style: none;
}

.c-logo__links ul li {
	display: inline;
	padding-left: 1.6rem;
}

.c-logo__links ul li a {
	color: white;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.c-logo__links ul li span {
	color: #8f7d1b;
	padding-right: 0.2rem;
	position: relative;
	top: 2px;
}

/*  
#Cahuilla Footer — I know, I know, this is horrible. To be fair, though, so is working with wordpress themes.
================================================== 
*/

#footer .widgettitle span
{
	font-size: 1.2rem;
	margin-bottom: 1em;
}


.split-icon {
	position: relative;
	float:left;
	margin-right: 20px;
	top: -2px;
}

.split-icon--tall {
	top: -6px;
}

.border--right {
	border-right: none;
}

@media only screen and (min-width: 767px) {
	.border--right {
		border-right: 1px solid #8c7d30;
	}
}


.row__end div .elementor-row {
	justify-content: flex-end;
}

@media only screen and (min-width: 767px) {
	.border--right {
		border-right: 1px solid #8c7d30;
	}
}

.card__overlay {

}

/* @media only screen and (max-width: 767px) {
	.card__overlay {
		padding: 6%;
	}
} */

@media only screen and (min-width: 768px) and (max-width: 960px) {
	.card__overlay {
		width: 80% !important;
	}
}

@media only screen and (min-width: 767px) {
	.card__overlay {
		width: 60% !important;
	}
}